<footer class="usa-footer usa-footer-medium site" role="contentinfo">

  {% unless page.top == false %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-third">
        <h3>Contact us</h3>
        <ul class="usa-unstyled-list">
			<li>Email us at <a href="mailto:{{site.email}}">{{site.email}}.</li>
        <a class="footer-logo" href="https://www.gsa.gov" target="_blank">
          {% include svg/gsa-logo.svg %}
        </a>
      </div>
       <div class="usa-width-one-third">
        <h3>Privacy policy</h3>
        <ul class="usa-unstyled-list">
          <li>View our site's <a href="{{ site.baseurl }}/privacy/">privacy policy</a>.</li>
        </ul>
      </div>	
	  <div class="usa-width-one-third">
        <h3>Have feedback?</h3>
        <ul class="usa-unstyled-list">
          <li>Create an issue on the <a href="https://github.com/GSA/publictrustpki-repository" target="_blank">code repository</a>.</li>
        </ul>
      </div>
  
    </div>
  </div>
</footer>
