<footer class="usa-footer usa-footer-medium site" role="contentinfo">

  {% unless page.top == false %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-third">
        <h3>Contact Us</h3>
        <ul class="usa-unstyled-list">
			<li>To report incidents or for general inquiries, email us at <a href="mailto:placeholder@gsa.gov">placeholder@gsa.gov</li>
        <a class="footer-logo" href="https://www.gsa.gov" target="_blank">
          {% include svg/gsa-logo.svg %}
        </a>
      </div>
       <div class="usa-width-one-third">
        <h3>Privacy Policy</h3>
        <ul class="usa-unstyled-list">
          <li>Click <a href="{{ site.baseurl }}/privacy/" target="_blank">here</a> to view our site's privacy policy.</li>
        </ul>
      </div>	
	  <div class="usa-width-one-third">
        <h3>Have Feedback?</h3>
        <ul class="usa-unstyled-list">
          <li>Create an issue on the <a href="https://github.com/GSA/publictrustpki-repository" target="_blank">code repository</a> or email us at <a href="mailto:placeholder@gsa.gov">placeholder@gsa.gov</a></li>
        </ul>
      </div>
  
    </div>
  </div>
</footer>
